#SAS CAS(Cloud Analytic Services)

SAS Cloud Analytic Services(CAS 서버)는 단일 컴퓨터 또는 여러 컴퓨터에서의 SAS Analytics 고성능 분산 처리 기술이 발전하는 과정에서 출시된 차세대 SAS 제품입니다.


다음 리스트에서는 CAS Server(Viya 플랫폼에서 모든 분석 워크로드를 처리하는 데 사용되는 엔진)가 SAS LASR Analytic Server(9.4 플랫폼의 SAS Visual 분석에서 사용하는 인메모리 엔진)와 어떻게 다른지 보여 줍니다.


- CAS 서버의 내결함성 기능은 노드가 더 이상 작동하지 않으면 이를 감지하고 해당 노드의 작업을 다른 노드로 분산합니다.
- 서버 프로세스가 아닌 CAS 서버 세션에서 처리하므로 CAS 세션 모니터링, 리소스 추적 및 리소스 관리가 가능합니다.
- In-Memory 테이블은 로컬(세션) 범위나 글로벌 범위를 가질 수 있습니다.
- 메모리 용량을 초과하더라도 CAS 서버가 테이블을 처리할 수 있습니다.
- CAS 서버는 Python, Lua, Java 및 REST API와 같은 타사 소프트웨어와 상호 작용합니다.
- 모든 테이블 작업이 caslib에서 수행됩니다. caslib는 테이블, 액세스 컨트롤 리스트 및 데이터 소스 정보를 보관하는 In-Memory 공간입니다.
- PROC CASUTIL은 테이블 로드 및 저장을 포함하여 CAS 서버 테이블을 관리하기 위한 새로운 프로시저입니다. 테이블의 데이터는 직렬 또는 병렬로 로드될 수 있습니다.
- SAS 9의 CHARACTER 데이터 유형은 바이트 의미를 사용하고 고정 너비를 지원합니다. CAS 서버는 문자 의미 및 다양한 길이의 변수를 사용하는 VARCHAR 데이터 유형을 지원합니다.
- SAS LASR Analytic Server와 유사하게 기본 작업 단위는 액션이며 이는 단일 작업(task)을 수행합니다. PROC CAS 및 CAS 언어(CASL)를 사용하거나 타사 소프트웨어를 사용하여 CAS 서버에서 작업을 실행할 수 있습니다.
- 다중 코어 또는 서버 노드에서 병렬 처리를 위해 SAS Analytic 프로시저와 DATA 스텝이 다시 작성되었습니다. DATA 스텝에는 몇 가지 언어 요소 제한이 있습니다.
- DS2 및 FedSQL은 CAS 서버에서 실행됩니다. FedSQL에는 몇 가지 제한이 있습니다.
- CAS 서버에서는 카탈로그가 지원되지 않습니다. 사용자 정의 출력형식을 지원하기 위해 caslib에 출력형식 라이브러리가 연결됩니다.
- PRINT 프로시저와 같은 몇몇 유틸리티 프로시저는 CAS 서버에서 데이터를 가져와 처리하지만 SAS Workspace Server에서 실행됩니다.

    - [SAS 공식문서1](https://documentation.sas.com/doc/ko/whatsnew/9.4_3.4/p0v1k3bqe0s1mdn1unuembj63014.htm)
    - [SAS 공식문서2](https://documentation.sas.com/doc/ko/pgmsascdc/9.4_3.4/casfun/titlepage.htm)

## 서버연결

In [ ]:
import swat
# import dlpy

conn = swat.CAS(hostname='http://13.124.157.75/cas-shared-default-http/', port=8777) #접속 주소
conn

CAS('13.124.157.75', 8777, 'viyademo01', protocol='http', name='py-session-1', session='b929a802-2919-2d4d-b93a-2a39bf850a98')

In [ ]:
r = conn.serverstatus()

NOTE: Grid node action status report: 4 nodes, 56 total actions executed.

In [ ]:
type(r)

swat.cas.results.CASResults

In [ ]:
isinstance(r, dict) #type 확인

True

CAS 서버에선 데이터가 DICT 형태로 저장됨

In [ ]:
r.keys()

odict_keys(['About', 'nodestatus', 'server'])

In [ ]:
r['About']

{'CAS': 'Cloud Analytic Services',
 'Copyright': 'Copyright Â© 2014-2018 SAS Institute Inc. All Rights Reserved.',
 'ServerTime': '2022-10-19T05:10:13Z',
 'System': {'Hostname': 'casc.sas.com',
  'Linux Distribution': 'Red Hat Enterprise Linux Server release 7.6 (Maipo)',
  'Model Number': 'x86_64',
  'OS Family': 'LIN X64',
  'OS Name': 'Linux',
  'OS Release': '3.10.0-957.12.2.el7.x86_64',
  'OS Version': '#1 SMP Fri Apr 19 21:09:07 UTC 2019'},
 'Version': '3.05',
 'VersionLong': 'V.03.05M0P11062019',
 'license': {'expires': '12Apr2023:00:00:00',
  'gracePeriod': 45,
  'site': 'INTERNAL_TEST_MPP_FULL',
  'siteNum': 70180938,
  'warningPeriod': 45}}

내부 항목을 볼 땐 dict처럼 [''] 기호 사용하며 결과는 CAS 서버내에서 모두 key 역할을 하게 된다

In [ ]:
[[key, type(value)] for key, value in r.items()]

[['About', dict],
 ['nodestatus', swat.dataframe.SASDataFrame],
 ['server', swat.dataframe.SASDataFrame]]

CAS서버내 데이터는 swat.dataframe.SASDataFrame 형태이며 pandas Dataframe이랑 유사하다

In [ ]:
dir(r)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_make_byline',
 '_performance_str_',
 '_render_html_',
 '_repr_html_',
 '_repr_pretty_',
 '_z_show_',
 'clear',
 'concat_bygroups',
 'copy',
 'debug',
 'events',
 'fromkeys',
 'get',
 'get_group',
 'get_set',
 'get_tables',
 'items',
 'keys',
 'messages',
 'move_to_end',
 'performance',
 'pop',
 'popitem',
 'reason',
 'session',
 'sessionname',
 'setdefault',
 'severity',
 'signature',
 'status',
 'status_code',
 'update',
 'updateflags',
 'values']

##CAS library

- 인메모리 영역(테이블) + 피지컬 파일 영역(file)

- SAS는 CAS library에만 테이블을 저장할 수 있고 library를 통해 파일 접근 가능

디렉토리 이름이 길기 때문에 CAS library를 바로 사용 가능

In [ ]:
conn.caslibinfo()

,Name,Type,Description,Path,Definition,Subdirs,Local,Active,Personal,Hidden,Transient
0,AdaptiveLearningData,PATH,Stores historical and learning tables created ...,/opt/sas/viya/config/data/cas/default/adaptive...,,0.0,0.0,0.0,0.0,0.0,0.0
1,AdaptiveLearningStore,PATH,Stores model analytic stores created by Adapti...,/opt/sas/viya/config/data/cas/default/adaptive...,,0.0,0.0,0.0,0.0,0.0,0.0
2,CASORA,oracle,,,uid = 'lgdpoc',0.0,0.0,0.0,0.0,0.0,0.0
3,CASUSER(viyademo01),PATH,Personal File System Caslib,/home/viyademo01/casuser/,,1.0,0.0,0.0,1.0,0.0,1.0
4,CASUSERHDFS(viyademo01),HDFS,Personal HDFS Caslib,/user/viyademo01/,,1.0,0.0,1.0,1.0,0.0,1.0
5,CPSAppData,PATH,Stores data for the planning service.,/opt/sas/viya/config/data/cas/default/cpsAppData/,,0.0,0.0,0.0,0.0,0.0,0.0
6,Formats,PATH,Stores user defined formats.,/opt/sas/viya/config/data/cas/default/formats/,,0.0,0.0,0.0,0.0,0.0,0.0
7,kal_source,PATH,,/home/viyademo20/KAL_VTA/Data/,,0.0,0.0,0.0,0.0,0.0,0.0
8,ModelPerformanceData,PATH,Library for Model Management performance objects.,/opt/sas/viya/config/data/cas/default/modelMon...,,0.0,0.0,0.0,0.0,0.0,0.0
9,Models,PATH,Stores models created by Visual Analytics for ...,/opt/sas/viya/config/data/cas/default/models/,,0.0,0.0,0.0,0.0,0.0,0.0
10,MYCAS,PATH,,/data/ldhome/sasdemo01/,,0.0,0.0,0.0,0.0,0.0,0.0
11,Public,PATH,"Shared and writeable caslib, accessible to all...",/opt/sas/viya/config/data/cas/default/public/,,0.0,0.0,0.0,0.0,0.0,0.0
12,QASMartStore,PATH,Stores quality analytic suite mart tables.,/opt/sas/viya/config/data/cas/default/qasMartS...,,0.0,0.0,0.0,0.0,0.0,0.0
13,Samples,PATH,"Stores sample data, supplied by SAS.",/opt/sas/viya/config/data/cas/default/samples/,,0.0,0.0,0.0,0.0,0.0,0.0
14,svi_default,PATH,,/opt/sas/viya/config/data/cas/default/svi_defa...,,1.0,0.0,0.0,0.0,0.0,0.0
15,SystemData,PATH,"Stores application generated data, used for ge...",/opt/sas/viya/config/data/cas/default/sysData/,,0.0,0.0,0.0,0.0,0.0,0.0

Active=1인 CASUSERHDFS(viyademo01) 디폴트값 (주소)

In [ ]:
#메모리확인
conn.tableinfo()

NOTE: No tables are available in caslib CASUSERHDFS(viyademo01) of Cloud Analytic Services.

+ Elapsed: 0.00874s, user: 0.0024s, sys: 0.00541s, mem: 1.14mb

In [ ]:
# 파일 정보 확인
conn.fileinfo()

ERROR: Could not connect to the Hadoop cluster.
ERROR: The action stopped due to errors.

+ Elapsed: 0.0178s, user: 0.00647s, sys: 0.00466s, mem: 1.14mb

라이브러리 확인 및 데이터를 불러올땐 해당 라이브러리 및 table명 입력

In [ ]:
conn.fileinfo(caslib='casuser')

,Permission,Owner,Group,Name,Size,Encryption,Time,ModTime
0,-rwxr-xr-x,viyademo01,sasusers,cars.sashdat,80400,NONE,2020-01-08T04:24:50+00:00,1.894077e+09
1,-rwxr-xr-x,viyademo01,sasusers,forest_model_astore.sashdat,22763888,NONE,2020-01-08T06:30:22+00:00,1.894084e+09
2,-rw-r--r--,viyademo01,sasusers,buytest.sas7bdat,1966080,,2020-07-23T04:18:03+00:00,1.911097e+09
3,-rw-r--r--,viyademo01,sasusers,EG_DEMO_2.xlsx,380241,,2020-07-23T04:25:47+00:00,1.911098e+09
4,-rwxr-xr-x,viyademo01,sasusers,INSSUBRO_K.sashdat,743640,NONE,2020-10-29T05:33:50+00:00,1.919569e+09
5,-rwxr-xr-x,viyademo01,sasusers,hmeq_lb.sashdat,632920,NONE,2020-11-24T08:26:02+00:00,1.921826e+09
6,-rwxr-xr-x,viyademo01,sasusers,tmpScoreData_bc.sashdat,1062816,NONE,2021-10-18T06:02:19+00:00,1.950156e+09
7,-rwxr-xr-x,viyademo01,sasusers,HMEQ.sashdat,680000,NONE,2022-06-02T06:47:15+00:00,1.969772e+09
8,-rwxr-xr-x,viyademo01,sasusers,claim.sahdat.sashdat,3361280,NONE,2022-09-02T10:02:23+00:00,1.977732e+09
9,-rwxr-xr-x,viyademo01,sasusers,claim.sashdat,3361280,NONE,2022-09-02T10:03:30+00:00,1.977732e+09
10,-rwxr-xr-x,viyademo01,sasusers,trn_missing_model_astore.sashdat,31872,NONE,2022-09-05T08:36:29+00:00,1.977986e+09
11,-rwxr-xr-x,viyademo01,sasusers,logistic_model_astore.sashdat,2376184,NONE,2022-09-06T05:43:20+00:00,1.978062e+09
12,-rwxr-xr-x,viyademo01,sasusers,impute_code.sashdat,13472,NONE,2022-10-18T10:25:51+00:00,1.981708e+09

위의 테이블들을 바로 load 가능

## data load

In [ ]:
url = 'https://github.com/bong-ju-kang/data/blob/master/claim.csv?raw=true'

In [ ]:
url

'https://github.com/bong-ju-kang/data/blob/master/claim.csv?raw=true'

일반적인 데이터 로드 방법

In [ ]:
import pandas as pd
df = pd.read_csv(url)

In [ ]:
df.head()

,id,child_driv,age,children,yoj,income,house_val,status,gender,edu_level,...,vehicle_val,vehicle_type,clm_freq,revoked,mvr_pts,claim_amount,vehicle_age,claim_ind,area,state_code
0,6.921625e+09,0,67.0,0,14.0,53841.0,359229.0,z_No,Mal,Bachelors,...,21970,Family,0,No,2,294,12.0,0,Highly Urban/ Urban,Berlin
1,1.227899e+09,0,26.0,1,13.0,16999.0,265527.0,NaN,Fem,z_High School,...,4010,unknown,4,No,7,292,12.0,0,Highly Urban/ Urban,Thueringen
2,1.950524e+09,0,71.0,0,17.0,NaN,323918.0,Yes,Mal,<High School,...,15440,Minivan,0,No,0,387,8.0,0,Highly Urban/ Urban,Bayern
3,1.743448e+09,0,68.0,0,NaN,115546.0,361705.0,Yes,Fem,PhD,...,18000,unknown,4,Yes,3,308,19.0,0,Highly Urban/ Urban,Bayern
4,7.371333e+09,0,32.0,1,15.0,125861.0,70668.0,z_No,Fem,Bachelors,...,17430,Sports Car,0,No,0,3221,9.0,1,Highly Urban/ Urban,Bayern

데이터가 클 때 CAS 서버에 데이터를 올려 사용

In [ ]:
conn.read_csv(url) # cas 서버에 데이터 로드

NOTE: Cloud Analytic Services made the uploaded file available as table TMP9BVGZRFD in caslib CASUSERHDFS(viyademo01).
NOTE: The table TMP9BVGZRFD has been created in caslib CASUSERHDFS(viyademo01) from binary data uploaded to Cloud Analytic Services.

CASTable('TMP9BVGZRFD', caslib='CASUSERHDFS(viyademo01)')

CASTable('TMP9BVGZRFD', caslib='CASUSERHDFS(viyademo01)') # 현재 액티브되어있는 라이브러리는 CASUSERHDFS(viyademo01)

In [ ]:
conn.read_csv(url,
             casout={'name':'claim', 'replace':True}) # 테이블명을 다른 이름으로 설정

NOTE: Cloud Analytic Services made the uploaded file available as table CLAIM in caslib CASUSERHDFS(viyademo01).
NOTE: The table CLAIM has been created in caslib CASUSERHDFS(viyademo01) from binary data uploaded to Cloud Analytic Services.

CASTable('CLAIM', caslib='CASUSERHDFS(viyademo01)')

In [ ]:
tbl = conn.read_csv(url,
             casout={'name':'claim', 'replace':True})
tbl # 데이터를 모두 가져옴

NOTE: Cloud Analytic Services made the uploaded file available as table CLAIM in caslib CASUSERHDFS(viyademo01).
NOTE: The table CLAIM has been created in caslib CASUSERHDFS(viyademo01) from binary data uploaded to Cloud Analytic Services.

CASTable('CLAIM', caslib='CASUSERHDFS(viyademo01)')

In [ ]:
tbl.head()

데이터 head()시 sample에 n갯수 입력 필요

In [ ]:
tbl.sample(n=3).head() # 일부 데이터만 로드

/root/anaconda3/lib/python3.7/site-packages/swat/cas/table.py:6662: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  **params)['OutputCasTables'].ix[0, 'casTable']
/root/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:961: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  return getattr(section, self.name)[new_key]

,id,child_driv,age,children,yoj,income,house_val,status,gender,edu_level,...,vehicle_val,vehicle_type,clm_freq,revoked,mvr_pts,claim_amount,vehicle_age,claim_ind,area,state_code
0,7.733805e+09,0.0,57.0,0.0,15.0,225871.0,645094.0,Yes,Fem,PhD,...,16990.0,Pickup,4.0,No,3.0,302.0,11.0,0.0,Highly Urban/ Urban,Hessen
1,6.191771e+09,0.0,47.0,2.0,20.0,23654.0,447041.0,Yes,Fem,z_High School,...,9310.0,Sports Car,2.0,No,2.0,3367.0,3.0,1.0,Highly Urban/ Urban,Berlin
2,2.021339e+09,0.0,57.0,0.0,3.0,1360.0,194337.0,z_No,Mal,z_High School,...,6200.0,Pickup,5.0,No,2.0,8932.0,3.0,1.0,z_Highly Rural/ Rural,Berlin

In [ ]:
type(tbl)

swat.cas.table.CASTable

데이터 type은 CASTable로 지정됨

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10300 entries, 0 to 10299
Data columns (total 23 columns):
id              10300 non-null float64
child_driv      10300 non-null int64
age             10293 non-null float64
children        10300 non-null int64
yoj             9752 non-null float64
income          9730 non-null float64
house_val       9725 non-null float64
status          10298 non-null object
gender          10300 non-null object
edu_level       10300 non-null object
job             9635 non-null object
distance        10300 non-null int64
car_use         10300 non-null object
vehicle_val     10300 non-null int64
vehicle_type    10300 non-null object
clm_freq        10300 non-null int64
revoked         10300 non-null object
mvr_pts         10300 non-null int64
claim_amount    10300 non-null int64
vehicle_age     9661 non-null float64
claim_ind       10300 non-null int64
area            10300 non-null object
state_code      10300 non-null object
dtypes: float64(6), int64(8), object(9)
memory usage: 1.8+ MB

In [ ]:
tbl.info()

CASTable('CLAIM', caslib='CASUSERHDFS(viyademo01)')

/root/anaconda3/lib/python3.7/site-packages/swat/cas/table.py:2420: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  return tblinfo.ix[0, 'Columns'] + len(computedvars)

Data columns (total 23 columns):
                  N   Miss     Type
id            10300  False   double
child_driv    10300  False   double
age           10293   True   double
children      10300  False   double
yoj            9752   True   double
income         9730   True   double
house_val      9725   True   double
status        10298   True  varchar
gender        10300  False  varchar
edu_level     10300  False  varchar
job            9635   True  varchar
distance      10300  False   double
car_use       10300  False  varchar
vehicle_val   10300  False   double
vehicle_type  10300  False  varchar
clm_freq      10300  False   double
revoked       10300  False  varchar
mvr_pts       10300  False   double
claim_amount  10300  False   double
vehicle_age    9661   True   double
claim_ind     10300  False   double
area          10300  False  varchar
state_code    10300  False  varchar
dtypes: double(14), varchar(9)
data size: 3347058
vardata size: 710258
memory usage: 0

In [ ]:
df.dtypes

id              float64
child_driv        int64
age             float64
children          int64
yoj             float64
income          float64
house_val       float64
status           object
gender           object
edu_level        object
job              object
distance          int64
car_use          object
vehicle_val       int64
vehicle_type     object
clm_freq          int64
revoked          object
mvr_pts           int64
claim_amount      int64
vehicle_age     float64
claim_ind         int64
area             object
state_code       object
dtype: object

In [ ]:
tbl.dtypes

id               double
child_driv       double
age              double
children         double
yoj              double
income           double
house_val        double
status          varchar
gender          varchar
edu_level       varchar
job             varchar
distance         double
car_use         varchar
vehicle_val      double
vehicle_type    varchar
clm_freq         double
revoked         varchar
mvr_pts          double
claim_amount     double
vehicle_age      double
claim_ind        double
area            varchar
state_code      varchar
dtype: object

SAS와 마찬가지로 문자와 숫자형으로만 변수 TYPE 구분

숫자 : double, 문자 varchar

In [ ]:
tbl.select_dtypes('varchar').head()

,status,gender,edu_level,job,car_use,vehicle_type,revoked,area,state_code
0,z_No,Mal,Bachelors,None,Private,Family,No,Highly Urban/ Urban,Berlin
1,,Fem,z_High School,Clerical,Private,unknown,No,Highly Urban/ Urban,Thueringen
2,Yes,Mal,<High School,Teacher,Private,Minivan,No,Highly Urban/ Urban,Bayern
3,Yes,Fem,PhD,Doctor,Private,unknown,Yes,Highly Urban/ Urban,Bayern
4,z_No,Fem,Bachelors,Teacher,Commercial,Sports Car,No,Highly Urban/ Urban,Bayern

In [ ]:
tbl['status'].value_counts(dropna=False)

Yes     6187
z_No    4111
           2
dtype: int64

CAS 서버에서 데이터 핸들링이 되기 때문에 빠른 처리가 가능하며 pandas 문법과 비슷하다

In [ ]:
df.isnull().sum()

id                0
child_driv        0
age               7
children          0
yoj             548
income          570
house_val       575
status            2
gender            0
edu_level         0
job             665
distance          0
car_use           0
vehicle_val       0
vehicle_type      0
clm_freq          0
revoked           0
mvr_pts           0
claim_amount      0
vehicle_age     639
claim_ind         0
area              0
state_code        0
dtype: int64

In [ ]:
tbl.nmiss() # 결측치 확인

id                0
child_driv        0
age               7
children          0
yoj             548
income          570
house_val       575
status            2
gender            0
edu_level         0
job             665
distance          0
car_use           0
vehicle_val       0
vehicle_type      0
clm_freq          0
revoked           0
mvr_pts           0
claim_amount      0
vehicle_age     639
claim_ind         0
area              0
state_code        0
dtype: int64

In [ ]:
conn.actionsetinfo() # 패키지 리스트

,actionset,label,loaded,extension,version,product_name,user_defined
0,accessControl,Access Controls,1,tkacon,3.05.000,tkcas,false
1,accessControl,Access Controls,1,casmeta,3.05.000,tkcas,false
2,aggregation,Aggregation,1,tkcasagg,3.05.000,crsaggregate,false
3,builtins,Builtins,1,tkcasablt,3.05.000,tkcas,false
4,configuration,Server Properties,1,tkcascfg,3.05.000,tkcas,false
5,dataPreprocess,Data Preprocess,1,tktrans,3.05.000,crsstat,false
6,dataStep,DATA Step,1,datastep,3.05.000,tkcas,false
7,percentile,Percentile,1,tkcasptl,3.05.000,crsstat,false
8,sampling,Sampling and Partitioning,1,tkcassamp,3.05.000,crssampling,false
9,search,Search,1,casidx,3.05.000,crssearch,false
10,session,Session Methods,1,tkcsessn,3.05.000,tkcas,false
11,sessionProp,Session Properties,1,tkcstate,3.05.000,tkcas,false
12,simple,Simple Analytics,1,tkimstat,3.05.000,crsstat,false
13,table,Tables,1,tkcastab,3.05.000,tkcas,false

기타 라이브러리를 등록하기 위해선 SWAT으로 CAS 서베에 접근 후 import할 라이브러리들을 actionset으로 저장 한 뒤 CAS에 등록

In [ ]:
conn.help(actionset='simple')

NOTE: Information for action set 'simple':
NOTE:    simple
NOTE:       mdSummary - Calculates multidimensional summaries of numeric variables
NOTE:       numRows - Shows the number of rows in a Cloud Analytic Services table
NOTE:       summary - Generates descriptive statistics of numeric variables such as the sample mean, sample variance, sample size, sum of squares, and so on
NOTE:       correlation - Computes Pearson product-moment correlations.
NOTE:       regression - Performs a linear regression up to 3rd-order polynomials
NOTE:       crossTab - Performs one-way or two-way tabulations
NOTE:       distinct - Computes the distinct number of values of the variables in the variable list
NOTE:       topK - Returns the top-K and bottom-K distinct values of each variable included in the variable list based on a user-specified ranking order
NOTE:       groupBy - Builds BY groups in terms of the variable value combinations given the variables in the variable list
NOTE:       freq - Generates a frequency distribution for one or more variables
NOTE:       paraCoord - Generates a parallel coordinates plot of the variables in the variable list
NOTE:       groupByInfo - Computes the index and frequency of each group, and the index of each record within its group
NOTE:       compare - Compares two tables by computing the index and frequency of each group, cumulative frequency, and the index of each record within its group

[simple]

            name                                        description
 0     mdSummary  Calculates multidimensional summaries of numer...
 1       numRows  Shows the number of rows in a Cloud Analytic S...
 2       summary  Generates descriptive statistics of numeric va...
 3   correlation      Computes Pearson product-moment correlations.
 4    regression  Performs a linear regression up to 3rd-order p...
 5      crossTab            Performs one-way or two-way tabulations
 6      distinct  Computes the distinct number of values of the ...
 7          topK  Returns the top-K and bottom-K distinct values...
 8       groupBy  Builds BY groups in terms of the variable valu...
 9          freq  Generates a frequency distribution for one or ...
 10    paraCoord  Generates a parallel coordinates plot of the v...
 11  groupByInfo  Computes the index and frequency of each group...
 12      compare  Compares two tables by computing the index and...

+ Elapsed: 0.00871s, user: 0.00165s, sys: 0.00579s, mem: 1.24mb

tbl 은 cas에 등록된 테이블

In [ ]:
tbl.summary()['Summary']['NMiss'] #Series 형태

0       0.0
1       0.0
2       7.0
3       0.0
4     548.0
5     570.0
6     575.0
7       0.0
8       0.0
9       0.0
10      0.0
11      0.0
12    639.0
13      0.0
Name: NMiss, dtype: float64

In [ ]:
type(tbl.summary()['Summary']['NMiss'])

pandas.core.series.Series

## CAS 서버내 괜찮은 패키지

### dataSciencePilot
데이터 탐색 및 분석에 사용

In [ ]:
#dataSciencePilot

conn.loadactionset('dataSciencePilot')

NOTE: Added action set 'dataSciencePilot'.

[actionset]

 'dataSciencePilot'

+ Elapsed: 0.0123s, user: 0.00677s, sys: 0.00751s, mem: 0.866mb

In [ ]:
conn.help(actionset='dataSciencePilot')

NOTE: Information for action set 'dataSciencePilot':
NOTE:    dataSciencePilot
NOTE:       exploreData - Exploration, automatic variable analysis and grouping using comprehensive statistical profiling of the variables.
NOTE:       screenVariables - Screens noise variables and variables that need special transformations to be useful in the downstream analytics.
NOTE:       analyzeMissingPatterns - Missing pattern analysis
NOTE:       exploreCorrelation - Explore linear and nonlinear correlation among the variables.
NOTE:       detectInteractions - Variable interaction detection and ranking
NOTE:       generateShadowFeatures - Generate shadow features.
NOTE:       featureMachine - Automated feature transformation and generation engine
NOTE:       selectFeatures - Feature selection
NOTE:       dsAutoMl - Automated machine learning pipeline exploration, execution and ranking.

[dataSciencePilot]

                      name                                        description
 0             exploreData  Exploration, automatic variable analysis and g...
 1         screenVariables  Screens noise variables and variables that nee...
 2  analyzeMissingPatterns                           Missing pattern analysis
 3      exploreCorrelation  Explore linear and nonlinear correlation among...
 4      detectInteractions         Variable interaction detection and ranking
 5  generateShadowFeatures                          Generate shadow features.
 6          featureMachine  Automated feature transformation and generatio...
 7          selectFeatures                                  Feature selection
 8                dsAutoMl  Automated machine learning pipeline exploratio...

+ Elapsed: 0.00832s, user: 0.00238s, sys: 0.00432s, mem: 1.22mb

In [ ]:
tbl.exploreData() # casOut으로 데이터 지정 필요

ERROR: Parameter 'casOut' is required but was not specified.
ERROR: The action stopped due to errors.

+ Elapsed: 0.000119s, user: 1.03s, sys: 0.912s

In [ ]:
tbl.exploreData(
    casOut = {'name':'tbl_explore', 'replace'=True} # 테이블이 있으면 에러가 뜰수도 있어서 True 적음
)

,casLib,Name,Rows,Columns,casTable
0,CASUSERHDFS(viyademo01),tbl_explore,23,42,"CASTable('tbl_explore', caslib='CASUSERHDFS(vi..."

In [ ]:
conn.CASTable('tbl_explore').head()

,Variable,VarType,MissingRated,CardinalityRated,EntropyRated,IQVRated,CVRated,SkewnessRated,KurtosisRated,OutlierRated,...,MomentCVPer,RobustCVPer,MomentSkewness,RobustSkewness,MomentKurtosis,RobustKurtosis,LowerOutlierMomentPer,UpperOutlierMomentPer,LowerOutlierRobustPer,UpperOutlierRobustPer
0,status,character-nominal,1.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,gender,character-nominal,1.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,edu_level,character-nominal,1.0,1.0,3.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,job,character-nominal,2.0,1.0,3.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,car_use,character-nominal,1.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

MissingRated (심각도) - missing value
페이지에서 기준을 define 하여 사용할 수 있음

위 정보에서는 적절하면 1, MISSING이 심하면 3

### sampling
샘플링에 사용하는 라이브러리

In [ ]:
conn.loadactionset('sampling')

NOTE: Added action set 'sampling'.

[actionset]

 'sampling'

+ Elapsed: 0.00786s, user: 0.0032s, sys: 0.0032s, mem: 0.815mb

In [ ]:
conn.sampling.stratified()

ERROR: Parameter 'table' is required but was not specified.
ERROR: The action stopped due to errors.

+ Elapsed: 0.000127s, user: 1.24s, sys: 1.1s

In [ ]:
target='claim_ind'

In [ ]:
conn.sampling.stratified(
    table = {'name':'claim','groupby':target}, # 샘플링에 사용할 테이블
    
    samppct = 70, # 추출 비율
    
    partind = True, # 선택된 데이터의 flag
    
    output={'casout': {'name':'claim_part','replace':True}, 'copyvars':'all'}
)
#claim_part 데이터 생성

NOTE: Stratified sampling is in effect.
NOTE: Using SEED=284305653 for sampling.

[OutputCasTables]

                     casLib        Name Label   Rows  Columns  \
 0  CASUSERHDFS(viyademo01)  claim_part        10300       24

                                             casTable
 0  CASTable('claim_part', caslib='CASUSERHDFS(viy...

[STRAFreq]

 Frequencies

    ByGrpID     claim_ind  NObs  NSamp
 0        0             0  7554   5288
 1        1             1  2746   1922

+ Elapsed: 0.113s, user: 0.104s, sys: 0.137s, mem: 299mb

In [ ]:
conn.CASTable('claim_part').head()

,id,child_driv,age,children,yoj,income,house_val,status,gender,edu_level,...,vehicle_type,clm_freq,revoked,mvr_pts,claim_amount,vehicle_age,claim_ind,area,state_code,_PartInd_
0,6.921625e+09,0.0,67.0,0.0,14.0,53841.0,359229.0,z_No,Mal,Bachelors,...,Family,0.0,No,2.0,294.0,12.0,0.0,Highly Urban/ Urban,Berlin,1.0
1,1.227899e+09,0.0,26.0,1.0,13.0,16999.0,265527.0,,Fem,z_High School,...,unknown,4.0,No,7.0,292.0,12.0,0.0,Highly Urban/ Urban,Thueringen,1.0
2,1.950524e+09,0.0,71.0,0.0,17.0,NaN,323918.0,Yes,Mal,<High School,...,Minivan,0.0,No,0.0,387.0,8.0,0.0,Highly Urban/ Urban,Bayern,0.0
3,1.743448e+09,0.0,68.0,0.0,NaN,115546.0,361705.0,Yes,Fem,PhD,...,unknown,4.0,Yes,3.0,308.0,19.0,0.0,Highly Urban/ Urban,Bayern,1.0
4,7.371333e+09,0.0,32.0,1.0,15.0,125861.0,70668.0,z_No,Fem,Bachelors,...,Sports Car,0.0,No,0.0,3221.0,9.0,1.0,Highly Urban/ Urban,Bayern,1.0

In [ ]:
conn.CASTable('claim_part')['_PartInd_'].value_counts()

1.0    7210
0.0    3090
dtype: int64

1일 때 train set, 0일 때 test set

In [ ]:
train = conn.CASTable('claim_part', where = '_PartInd_ = 1')
train

CASTable('claim_part', where='_PartInd_ = 1')

범주형 자료를 원핫인코딩 등 처리 하고자 할 때 CAS내 라이브러리로 전처리 작업시 범주형 자료를 알아서 일괄 인코딩하기 때문에 직접 전처리할 변수들을 사전 제거

In [ ]:
xvars = [x for x in train.columns.tolist() if x not in ['id', 'y', 'claim_amount', '_PartInd_']]

In [ ]:
[x for x in train.select_dtypes('varchar').columns.tolist() if x not in ['id', 'y', 'claim_amount', '_PartInd_']]

['status',
 'gender',
 'edu_level',
 'job',
 'car_use',
 'vehicle_type',
 'revoked',
 'area',
 'state_code']

In [ ]:
classvars = [x for x in train.select_dtypes('varchar').columns.tolist() if x not in ['id', 'y', 'claim_amount', '_PartInd_']]

In [ ]:
classvars = classvars + [target]

In [ ]:
classvars

['status',
 'gender',
 'edu_level',
 'job',
 'car_use',
 'vehicle_type',
 'revoked',
 'area',
 'state_code',
 'claim_ind']

###dataPreprocess

결측치 처리

In [ ]:
#결측값 처리 루틴
conn.loadactionset('dataPreprocess')

NOTE: Added action set 'dataPreprocess'.

[actionset]

 'dataPreprocess'

+ Elapsed: 0.0079s, user: 0.000905s, sys: 0.00549s, mem: 0.814mb

In [ ]:
tbl.dataPreprocess.impute() # 평균값으로 일괄 missing value 처리

,Variable,ImputeTech,ResultVar,N,NMiss,ImputedValueContinuous
0,id,Mean,IMP_id,10300.0,0.0,4.537007e+09
1,child_driv,Mean,IMP_child_driv,10300.0,0.0,1.700000e-01
2,age,Mean,IMP_age,10293.0,7.0,5.379792e+01
3,children,Mean,IMP_children,10300.0,0.0,7.209709e-01
4,yoj,Mean,IMP_yoj,9752.0,548.0,1.347395e+01
5,income,Mean,IMP_income,9730.0,570.0,6.243657e+04
6,house_val,Mean,IMP_house_val,9725.0,575.0,4.168986e+05
7,distance,Mean,IMP_distance,10300.0,0.0,7.841942e+01
8,vehicle_val,Mean,IMP_vehicle_val,10300.0,0.0,1.566013e+04
9,clm_freq,Mean,IMP_clm_freq,10300.0,0.0,1.808641e+00
10,mvr_pts,Mean,IMP_mvr_pts,10300.0,0.0,3.202621e+00
11,claim_amount,Mean,IMP_claim_amount,10300.0,0.0,1.810643e+03
12,vehicle_age,Mean,IMP_vehicle_age,9661.0,639.0,1.029790e+01
13,claim_ind,Mean,IMP_claim_ind,10300.0,0.0,2.666019e-01

In [ ]:
tbl.dataPreprocess.impute(
    
    methodinterval ='mean', #연속형일때
    methodnominal='mode', #범주형일때
    
    inputs= xvars, # impute 지정 변수
    
    casout={'name':'train_impute_out', 'replace':True},
    copyvars=target, #target도 처리
    
    code = {'casout': {'name':'train_impute_out','replace':True}}
) 

#ImputedValueContinuous ImputedValueNominal :  어떤값으로 대체되었는지

[ImputeInfo]

 Imputation Information for CLAIM

         Variable ImputeTech         ResultVar        N  NMiss  \
 0     child_driv       Mean    IMP_child_driv  10300.0    0.0
 1            age       Mean           IMP_age  10293.0    7.0
 2       children       Mean      IMP_children  10300.0    0.0
 3            yoj       Mean           IMP_yoj   9752.0  548.0
 4         income       Mean        IMP_income   9730.0  570.0
 5      house_val       Mean     IMP_house_val   9725.0  575.0
 6         status       Mode        IMP_status  10298.0    2.0
 7         gender       Mode        IMP_gender  10300.0    0.0
 8      edu_level       Mode     IMP_edu_level  10300.0    0.0
 9            job       Mode           IMP_job   9635.0  665.0
 10      distance       Mean      IMP_distance  10300.0    0.0
 11       car_use       Mode       IMP_car_use  10300.0    0.0
 12   vehicle_val       Mean   IMP_vehicle_val  10300.0    0.0
 13  vehicle_type       Mode  IMP_vehicle_type  10300.0    0.0
 14      clm_freq       Mean      IMP_clm_freq  10300.0    0.0
 15       revoked       Mode       IMP_revoked  10300.0    0.0
 16       mvr_pts       Mean       IMP_mvr_pts  10300.0    0.0
 17   vehicle_age       Mean   IMP_vehicle_age   9661.0  639.0
 18     claim_ind       Mean     IMP_claim_ind  10300.0    0.0
 19          area       Mode          IMP_area  10300.0    0.0
 20    state_code       Mode    IMP_state_code  10300.0    0.0

     ImputedValueContinuous  ImputedValueNominal
 0                 0.170000
 1                53.797921
 2                 0.720971
 3                13.473954
 4             62436.569270
 5            416898.584679
 6                      NaN                  Yes
 7                      NaN                  Fem
 8                      NaN        z_High School
 9                      NaN              Teacher
 10               78.419417
 11                     NaN              Private
 12            15660.132039
 13                     NaN              unknown
 14                1.808641
 15                     NaN                   No
 16                3.202621
 17               10.297899
 18                0.266602
 19                     NaN  Highly Urban/ Urban
 20                     NaN               Bayern

[OutputCasTables]

                     casLib              Name   Rows  Columns  \
 0  CASUSERHDFS(viyademo01)  train_impute_out  10300       22
 1  CASUSERHDFS(viyademo01)  train_impute_out      1       10

                                             casTable
 0  CASTable('train_impute_out', caslib='CASUSERHD...
 1  CASTable('train_impute_out', caslib='CASUSERHD...

+ Elapsed: 0.152s, user: 0.125s, sys: 0.0986s, mem: 3.74mb

In [ ]:
conn.CASTable('train_impute_out').head(99)

,ModelName,DataStepSrc,DS2Src,FormatXML,FormatItemStore,VarXML,AStore,AStoreKey,ModelUUID,Notes
0,,_ngbys_ = 1;\n _igby_ = 0;\n _tnn_ntran...,,,,,,,,

단순한 데이터들은 코드베이스로 저장